body {
    font-family: Arial, sans-serif;
    background-color: #050505;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    background-color: #fff;
    padding: 60px;
    border-radius: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
input[type="text"], input[type="range"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #111010;
}

input[disabled] {
    background-color: #ffffff;
}
.error {
    color: red;
    display: none;
}

/*styles for mobile */
@media (max-width: 480px) {
    .calculator {
        width: 90%;
    }
}